<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>
        <provider
            android:name=".PluginFileProvider"
            android:authorities="${applicationId}.plugin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/plugin_file_paths"></meta-data>
        </provider>
    </application>
</manifest>
